html, body, div, span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 18px; }

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* Remove annoying border on linked images. */
a img {
  border: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

input, select {
  vertical-align: middle; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Unibody8Regular, monospace;
  font-size: 20px;
  background: #bbb; }

#container {
  width: 620px;
  margin: 0 auto;
  position: relative; }
  #container header {
    height: 35px;
    font-size: 0.8em;
    width: 600px;
    margin: 0 auto;
    position: relative; }
    #container header h1 {
      font-size: 46px;
      margin: 20px 0;
      text-shadow: 2px 2px 1px #bbb;
      filter: dropshadow(color=#bbbbbb, offx=2, offy=2); }
  #container footer {
    position: absolute;
    top: 370px;
    right: 10px;
    color: #ccc; }

#player-name {
  color: #FFFFFF;
  font-size: 22px;
  letter-spacing: 0.1em;
  left: 14px;
  position: absolute;
  top: 62px;
  z-index: 90; }

#player-health-heart {
  background: url("/client/images/lofi_interface.png") no-repeat scroll -40px -285px transparent;
  height: 40px;
  left: 440px;
  position: absolute;
  top: 60px;
  width: 40px;
  z-index: 100; }

#player-health {
  position: absolute;
  right: 10px;
  height: 20px;
  top: 60px;
  z-index: 99;
  width: 100px;
  border: 1px solid #666;
  background: -moz-linear-gradient(top, #666666 0%, #dddddd 60%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(60%, #dddddd));
  /* webkit */ }
  #player-health #player-health-bar {
    position: relative;
    z-index: 90;
    background: -moz-linear-gradient(top, #df5353 0%, #bf0d00 60%);
    /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df5353), color-stop(60%, #bf0d00));
    /* webkit */
    height: 20px; }

#cr-stage {
  border: 10px solid #fff;
  margin: 5px auto;
  color: white;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 3px #666;
  -moz-box-shadow: 0px 5px 3px #666;
  box-shadow: 0px 5px 3px #666; }
